{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <title>Sign Up</title>
</head>
<body>
    Sign Up Form
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form }}
        {{ restaurant_form }}

        <button type="submit">Sign Up</button>
    </form>
</body>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
</html>